.Main{

}
.Main-content{
  display: flex;
  align-items: flex-start;
}
.Nav{
  width: 200px;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
