.Main{

}
.Main-content{
  display: flex;
  align-items: flex-start;
  margin-top: 64px;
}
.Nav{
  width: 200px;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}
.Nav-active{
  background-color: rgba(0, 0, 0, 0.08);
}
.Nav a{
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
}
.Nav a:hover{
  background-color: rgba(0, 0, 0, 0.08);
}
.Movie-content{
  flex:1;
  padding: 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.12);

}
.movie-listing__blocks{
  display: flex;
  flex-wrap: wrap;
}
.notFound{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  flex-direction: column;
}
